<div class="container" style="margin-top:50px;margin-bottom: 40px;">
    <%- include("includes/alert", {
        req: req
    })%>
    <% if(typeof link !== "undefined"){ %>
    <div class="row">
        <div class="col=md-12">
            <div class="jumbotron">
                <p style="font-size: 100px;">
                    <% if(link.file[0].type == "folder"){ %> 
                    <i class="bi-folder2-open"></i>
                    <% } else{%>
                    <i class="bi-file-text-fill"></i>
                    <% } %>
                </p>
                <h3><%= link.file[0].type == "folder" ? link.file[0].folderName : link.file[0].name %></h3>
                <br>
                <p>
                    <% 
                    var createdAt = link.file[0].createdAt
                    createdAt = parseFloat(createdAt)
                    createdAt = new Date(createdAt)
                    createdAt = createdAt.getDate() + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear()
                    + " " + createdAt.getHours() + ":" + createdAt.getMinutes() + ":" + createdAt.getSeconds();
                    %>
                    Created at:  <%= createdAt %>
                </p>
                <p>
                    <% 
                        months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
                        formatBytes = function(bytes, decimals =2){
                            if(bytes === 0) return '0B';
                            const k = 1024;
                            const dm = decimals < 0 ? 0 : decimals;
                            const sizes = ['B','KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                            const i = Math.floor(Math.log(bytes)/Math.log(k));
                            return parseFloat((bytes/Math.pow(k,i)).toFixed(dm)) + ' ' + sizes[i];
                        } 
                        getFolderSize = function(arr){
                            var sum = 0;
                            for (var a = 0; a < arr.length; a++) {
                                if(arr[a].type == "folder"){
                                    if(arr[a].files.legth > 0){
                                        sum += getFolderSize(arr[a].files)
                                    }
                                }else{
                                    sum += arr[a].size;
                                }          
                            }
                            return sum
                        }
                    
                    %>
                    Size: 
                    <!-- <%= link.file._id %> -->
                    <%= link.file[0].type == "folder" ? formatBytes(getFolderSize(link.file[0].files)) : formatBytes(link.file[0].size) %>
                </p>
                <button class="btn btn-success" onclick="downloadPublicFile(this)" data-hash="<%= link.hash %>" data-id="<%= link.file._id %>">Download</button>
            </div>
        </div>
        <!-- download="" href="<%= link.file[0].filePath %>" -->
    </div>
    <% } %>
</div>